* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: 'Varela Round';
  background: linear-gradient(
    45deg,
    rgba(26, 89, 158, 1) 0%,
    rgba(70, 143, 224, 1) 42%,
    rgba(99, 166, 241, 1) 100%
  );
  min-height: 100vh;
}
html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
